/* Fonts */
@font-face {
    font-family: Cinzel;
    src: url(fonts/Cinzel-Regular.otf);
}

@font-face {
    font-family: Smythe;
    src: url(fonts/Smythe-Regular.ttf);
}

h1 {
    font-family: Cinzel;
    color: aliceblue;
    text-align: center;
    font-size: 48px;
}

#scene {
    background: url(images/cover.jpg) no-repeat;
    height: 700px;
    width: 1200px;
    text-align: center;
    vertical-align: middle;
    margin-left:auto;
    margin-right:auto;
}
#scene_start {
    background: url(images/beforeAndAfter.jpg) no-repeat;
    height: 700px;
    width: 1200px;
    text-align: center;
    vertical-align: middle;
    margin-left:auto;
    margin-right:auto;
    padding-top:10px;
}
#scene_power {
    background: url(images/powerschoice.jpg) no-repeat;
    height: 700px;
    width: 1200px;
    text-align: center;
    vertical-align: middle;
    margin-left:auto;
    margin-right:auto;
    padding-top:10px;
}
#scene_invisobj {
    background: url(images/invis.jpg) no-repeat;
    height: 700px;
    width: 1200px;
    text-align: center;
    vertical-align: middle;
    margin-left:auto;
    margin-right:auto;
    padding-top:10px;
}
#scene_telepobj {
    background: url(images/telport.jpg) no-repeat;
    height: 700px;
    width: 1200px;
    text-align: center;
    vertical-align: middle;
    margin-left:auto;
    margin-right:auto;
    padding-top:10px;
}
#scene_path {
    background: url(images/pathchoice) no-repeat;
    height: 700px;
    width: 1200px;
    text-align: center;
    vertical-align: middle;
    margin-left:auto;
    margin-right:auto;
    padding-top:10px;
}
#scene_invis_animal {
    background: url(images/invisAnimal.jpg) no-repeat;
    height: 700px;
    width: 1200px;
    text-align: center;
    vertical-align: middle;
    margin-left:auto;
    margin-right:auto;
    padding-top:10px;
}
#scene_tele_animal {
    background: url(images/teleanimal.jpg) no-repeat;
    height: 700px;
    width: 1200px;
    text-align: center;
    vertical-align: middle;
    margin-left:auto;
    margin-right:auto;
    padding-top:10px;
}
#scene_invis_animal_attack {
    background: url(images/invisAnimalKeep) no-repeat;
    height: 700px;
    width: 1200px;
    text-align: center;
    vertical-align: middle;
    margin-left:auto;
    margin-right:auto;
    padding-top:10px;
}
#scene_tele_animal_attack {
    background: url(images/teleanimalkeep) no-repeat;
    height: 700px;
    width: 1200px;
    text-align: center;
    vertical-align: middle;
    margin-left:auto;
    margin-right:auto;
    padding-top:10px;

}
#scene_invis_animal_run {
    background: url(images/invisanimalfights) no-repeat;
    height: 700px;
    width: 1200px;
    text-align: center;
    vertical-align: middle;
    margin-left:auto;
    margin-right:auto;
    padding-top:10px;
}
#scene_tele_animal_run {
    background: url(images/teleanimalfights) no-repeat;
    height: 700px;
    width: 1200px;
    text-align: center;
    vertical-align: middle;
    margin-left:auto;
    margin-right:auto;
    padding-top:10px;
}
#scene_continue {
    background: url(images/seeattack) no-repeat;
    height: 700px;
    width: 1200px;
    text-align: center;
    vertical-align: middle;
    margin-left:auto;
    margin-right:auto;
    padding-top:10px;
}
#scene_invis_animal_book_decide {
    background: url(images/invis_bookchoice) no-repeat;
    height: 700px;
    width: 1200px;
    text-align: center;
    vertical-align: middle;
    margin-left:auto;
    margin-right:auto;
    padding-top:10px;
}
#scene_tele_animal_book_decide {
    background: url(images/tele_bookchoice) no-repeat;
    height: 700px;
    width: 1200px;
    text-align: center;
    vertical-align: middle;
    margin-left:auto;
    margin-right:auto;
    padding-top:10px;
}
#scene_invis_animal_book_read {
    background: url(images/invismysterybox) no-repeat;
    height: 700px;
    width: 1200px;
    text-align: center;
    vertical-align: middle;
    margin-left:auto;
    margin-right:auto;
    padding-top:10px;
}
#scene_tele_animal_book_read {
    background: url(images/telemysterybox) no-repeat;
    height: 700px;
    width: 1200px;
    text-align: center;
    vertical-align: middle;
    margin-left:auto;
    margin-right:auto;
    padding-top:10px;
}
#scene_box_ending {
    background: url(images/boxedending) no-repeat;
    height: 700px;
    width: 1200px;
    text-align: center;
    vertical-align: middle;
    margin-left:auto;
    margin-right:auto;
    padding-top:10px;
}
#scene_invis_shuttle_leave {
    background: url(images/leavedecision) no-repeat;
    height: 700px;
    width: 1200px;
    text-align: center;
    vertical-align: middle;
    margin-left:auto;
    margin-right:auto;
    padding-top:10px;
}
#scene_shapeshifter_ending {
    background: url(images/shapeshifterending) no-repeat;
    height: 700px;
    width: 1200px;
    text-align: center;
    vertical-align: middle;
    margin-left:auto;
    margin-right:auto;
    padding-top:10px;
}
#scene_invis_both_ending {
    background: url(images/invisbothshuttleending) no-repeat;
    height: 700px;
    width: 1200px;
    text-align: center;
    vertical-align: middle;
    margin-left:auto;
    margin-right:auto;
    padding-top:10px;
}
#scene_tele_both_ending {
    background: url(images/telebothshuttleending) no-repeat;
    height: 700px;
    width: 1200px;
    text-align: center;
    vertical-align: middle;
    margin-left:auto;
    margin-right:auto;
    padding-top:10px;
}

#situation {
    font-family: Smythe;
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: rgba(255, 255, 255, .5);
    vertical-align:text-bottom;
    margin-top: 320px;
}
#situation-notop{
    font-family: Smythe;
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: rgba(255, 255, 255, .5);
    vertical-align:text-bottom;
    margin-top: 380px;
}

a {
    text-decoration: none;
    color: rgb(24, 24, 99);
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

#info {
    font-family: Smythe;
    font-size:18px;
    background-color:  rgba(255, 255, 255, .5);
    margin-left: 10%;
    margin-right: 10%;
    border: 5px outset;
}