/* Fonts */
@font-face {
    font-family: Cinzel;
    src: url(fonts/Cinzel-Regular.otf);
}

@font-face {
    font-family: Smythe;
    src: url(fonts/Smythe-Regular.ttf);
}


h1 {
    font-family: Cinzel;
    color: aliceblue;
    text-align: center;
    font-size: 48px;
}

#scene {
    background: url(images/base.jpg) no-repeat;
    height: 700px;
    width: 1200px;
    text-align: center;
    vertical-align: middle;
    margin-left:auto;
    margin-right:auto;
}
#situation {
    font-family: Smythe;
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: rgba(255, 255, 255, .5);
    vertical-align:text-bottom;
    margin-top: 380px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}